name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3
      - name: Build FE
        run: |
          # Extract version from git tag (remove 'v' prefix).
          VERSION=${GITHUB_REF#refs/tags/v}
          FUSION_VERSION=$VERSION ./scripts.sh build-frontend
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          args: release --clean
